* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding: 5px 0;
    background-color: #9D8E8D;
    
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin:0 auto;
}
.container:after {
    content:'';
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding: 15px 0;
    color: #9D8E8D;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #9D8E8D;
    color: #fff;
}
.active {
    background-color: #9D8E8D;
    color: #fff;
}
.banner {
    height: 60vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(157, 142, 141, .6);
}
.banner h1 {
    color: #fff;
    z-index: 1;
    padding: 15px 0;
    border: 3px solid #fff;
    font-size: 20px;
}
section {
    padding:50px 0;
}
section{
    padding: 50px 0;
    text-align: center;
    color: #9D8E8D;
    font-size: 20px;
}
.section h4 {
    height: 100%;
    text-align: center;
    padding: 20px 0;   
    color: #9D8E8D;
    margin-bottom: 20px;
}
.contact p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    font-size: 20px;
}
.contact {
    background-color: #f9f9f9;
    text-align: center;
}
.box {
    padding: 50px;
    height: 100%;
    color: #9D8E8D;
    display: flex;
    justify-content: space-evenly;
}
.box:after {
    content:'';
    display: block;
    clear: both;
}
.box .col-4 {
    height: 100%;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float:left;
    margin: 0 auto;
    
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;

}
.box .col-4 h4 {
    margin: 20px 0;
}
footer {
    padding:30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.label {
    padding: 50px;
    background-color:#9D8E8D;
    color: #fff;
    text-align: left;
    font-size: 50px;
}
.about {
    height: 100%;
    padding: 50px;
    text-align: center;
}
.about h4{
    padding: 50px;
    font-size: 50px;
}
.about img{
    height: 600px;
    width: 600px;
    border-radius: 50%;
}
.works {
    height: 100%;
    padding: 50px;
}
.works h4 {
    padding: 50px;
    font-size: 50px;
}
.works img {
    padding: 20px;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    border: 5px solid;
}
.hobby {
    height: 100%;
    padding: 50px;
}
.hobby h4{
    padding: 50px;
    font-size: 50px;
}
.hobby img{
    padding: 20px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
.hobby p{
  padding: 20px;  
}
@media screen and (max-width: 700px){
    .container {
        width: 90%;
    }
header h1 {
    text-align: center;
    float: none;
}
header ul{
    text-align: center;
    float: none;
}
.box{
    width: 100%;
    float: none;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.box .col-4 {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    text-align: center;
}
.about img {
    width: 100%;
    height: 300px;
    width: 300px;
    text-align: center;
    float: none;
  }
.hobby img{
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
}

@media screen and (min-width: 477px){
    .container {
        width: 90%;
    }
}